@using Users.Models
@model AppUser
@{
    ViewBag.Title = "UserProps";
}

<h2>UserProps</h2>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        Custom User Properties
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>City</th><th>@Model.City</th>
               <th>Country</th><th>@Model.Country</th>
            </tr>
        </table>
    </div>
    
    @using (Html.BeginForm())
    {
        <div class="form-grop">
            <label>City</label>
            @Html.DropDownListFor(x => x.City, new SelectList(Enum.GetNames(typeof(Cities))))
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    }
</div>

